@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

@theme {
    --font-primary: "Space Grotesk", sans-serif;
    --font-secondary: "Outfit", sans-serif;

    --color-primary: #FC8474;
    --color-secondary: #E56333;
    --color-third: #001122;
    
    --breakpoint-3xl: 1920px;
    --breakpoint-4xl: 2560px;
    --breakpoint-5xl: 3840px;
}

